body {
    background: #FFDEF3;
}

#left-header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #C2DDFF;
}

ul {
    display: block;
    position: relative;
    height: 100%;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: block;
    font-size: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: bold;
    color: #20518e;
}

.menu {
    margin: 0;
    padding: 0;
}

.menu-button {
    box-sizing: border-box;
    width: 100%;
    height: 20%;
    min-height: 60px;
    border: 0;
    padding-top:10%;
    padding-bottom: 10%;
    text-align: center;
}

#menu-pic {
    box-sizing: content-box;
    width: 75%;
    height: 75%;
    min-width: 40px;
    min-height: 40px;
    border: 0;
    margin: auto;
    text-align: center;
}

#menu-pic img {
    max-width: 100%;
    max-height: 100%;
    
}

.menu-button-default {
    box-sizing: content-box;
    width: 75%;
    height: 75%;
    min-width: 40px;
    min-height: 40px;
    border: 0;
    margin: auto;
    text-align: center;
}

.menu-button-default img {
    max-width: 100%;
    max-height: 100%;
}

#menu-4 {
    background-color: #FFDEF3;
}

#content-wrapper {
    margin-left: 200px;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
}

.content {
    box-sizing: content-box;
    position: absolute;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: bold;
    color:#20518e;
    text-align:center;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 20px;
}

.content-wh-inline1,
.content-wh-inline2 {
    width: 49%;
}

.content-wh-inline1 {
    float: left;
    padding-bottom: 20px;
}

.content-wh-inline2 {
    float: right;
}